<html>
  <head>
    <!-- javascript -->
    <script src="../resources/js/jquery-2.1.0.js"> </script>
    
    <!-- css -->
    <link rel="stylesheet" href="../resources/css/myCss.css"/>
    <link rel="stylesheet" href="../resources/css/bootstrap.css"/>
    <title> airyn </title>
  </head>
  <body>
    <div class="row" id="navbar">
      <span class="navbar-element col-sm-2"><a href="#">Icono-Nombre</a></span>
      <span class="navbar-element col-sm-2">
        <a href="#">
          Buscar
          <span class="glyphicon glyphicon-search"></span>
        </a>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </span>
      <span class="navbar-element col-sm-2"><a href="#">Biblioteca</a></span>
      <span class="navbar-element col-sm-2"><a href="#">Amigos</a></span>
      <span class="navbar-element col-sm-2"><a href="#">Círculos</a></span>
      <span class="navbar-element col-sm-2"><a href="#">Perfil</a></span>
    </div>
  </body>
</html>